/*Text styles*/
h1,
h2,
h3,
h4,
h5,
p,
label {
  color: var(--LightText);
}
.Bold,
label {
  font-weight: bold;
}

/*Misc sitewide styles*/
:root {
  --BgColour: #282c34;
  --Form_PopupBG: #737373;
  --warnColour: #ff0000;
  --LightBorder: #f0f8ff; /*aliceblue*/
  --LightText: #ffffff;
}
html {
  background-color: var(--BgColour);
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--LightText);
}
.warning {
  color: var(--warnColour);
  font-weight: bold;
}

form {
  border: 5px solid var(--LightBorder);
  border-radius: 1rem;
  background-color: var(--Form_PopupBG);
}
.flex-container {
  display: flex;
}
::marker {
  color: var(--LightBorder);
}
.Display-none {
  display: none;
}

/*Header styles*/
#Header-bar {
  position: absolute;
  width: 100%;
  min-height: 50px;
  max-height: 10%;
  justify-content: space-between;
  background-color: rgba(49, 49, 49, 0.5);
}
.Header-item {
  float: right;
  font-size: large;
  font-weight: bold;
  text-align: center;
  min-width: 2rem;
  min-height: 50px;
  max-height: 10%;
  margin: 0 1rem 0 1rem;
}

/*Footer styles*/
#footer-container {
  margin-bottom: 0px;
  padding-top: 2%;
  min-height: 100px;
  width: 100%;
  clear: both;
  text-align: center;
}

/*Homepage styles*/
#Homepage-container {
  display: block;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}
#Homepage-container h2 {
  margin-top: 10vh;
  padding: 1vh;
}
#Carousel-container {
  width: 90vw;
  margin-left: 5vw;
}
#Carousel-container img {
  border: 2px solid var(--LightBorder);
  border-radius: 25%;
  overflow: hidden;
  width: 20vw;
  height: 25vh;
  max-width: 33vw;
  max-height: 33vh;
  margin: 1vh 1vw 1vh 1vw;
  animation: 5s Fade infinite ease-out;
}
@keyframes Fade {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
#Instruction-segment {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Instruction-entry {
  display: inline-block;
  margin-top: -5vh;
  width: 20vw;
  padding: 2.5vw;
}
.Instruction-entry img {
  background-color: var(--LightBorder);
  border-radius: 50%;
  width: 5vw;
  padding: 1vw;
  overflow: visible;
}
@media screen and (max-width: 720px) {
  #Carousel-container img {
    width: 49vw;
    height: 20vh;
  }
  #Instruction-segment {
    flex-wrap: wrap;
  }
  .Instruction-entry {
    width: 80vw;
    margin-left: 10vw;
  }
  .Instruction-entry img {
    width: 20vw;
    padding: 5vw;
  }

  .Format-support-table {
    width: 90vw;
    margin-left: 0vw;
  }
}
.Format-support-table.Mobile {
  max-width: 50vw;
}
@media screen and (max-width: 500px) {
  .Format-support-table.Desktop {
    display: none;
  }
  .Format-support-table.Mobile {
    display: block;
    width: 50vw;
    margin-left: 25vw;
  }
}
@media screen and (min-width: 501px) {
  .Format-support-table.Desktop {
    display: none;
  }
  .Format-support-table.Mobile {
    display: block;
    width: 50vw;
    margin-left: 33vw;
  }
}
@media screen and (min-width: 1001px) {
  .Format-support-table.Desktop {
    display: block;
    margin-left: 15vw;
  }
  .Format-support-table.Mobile {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .Format-support-table.Desktop {
    margin-left: 20vw;
  }
}
@media screen and (min-width: 1301px) {
  .Format-support-table.Desktop {
    margin-left: 28vw;
  }
}

.Format-support-table {
  border-collapse: collapse;
  width: 50vw;
  color: var(--LightText);
}
.Format-support-table td,
.Format-support-table th {
  border: 2px solid var(--LightBorder);
  padding: 1vh;
}
.Format-support-table th {
  padding: 1vh 1vw 1vh 0.5vw;
  background-color: #1e596f;
  color: var(--LightText);
}
/*Library styles*/
.collumn {
  float: left;
  width: 24vw;
  padding: 1vh 0 1vh 0;
  margin-bottom: 5vh;
}
.collumn li {
  height: 7.5vh;
  margin: 5vh 0 5vh 0;
  display: inline-block;
}
.collumn li .Thumb {
  border: 5px solid var(--LightBorder);
  background-color: var(--Form_PopupBG);
  border-radius: 15% 0% 0% 15%;
  height: 9.5vh;
  width: 3.3vw;
  float: left;
  overflow: hidden;
}
.collumn li .Thumb img {
  z-index: 0;
  width: 90%;
  padding: 5%;
}
.collumn li .Details {
  border: 5px solid var(--LightBorder);
  border-top-right-radius: 5%15%;
  border-bottom-right-radius: 5%15%;
  background-color: var(--Form_PopupBG);
  text-align: left;
  overflow: hidden;
  height: 7.5vh;
  width: 16.6vw;
  padding: 1vh;
  float: left;
  margin-left: -5px;
}
.collumn li .Details h4 {
  padding: 0;
  margin: 0;
}
.collumn li .Details p,
.collumn li .Details a {
  offset: 0;
  margin-left: 5%;
  display: inline;
}
.collumn li p,
.collumn li a {
  color: var(--LightText);
  font-weight: bolder;
}
.Missing-space-warning {
  color: var(--warnColour);
  font-weight: bold;
}
.Lib_folder h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Form_PopupBG);
  padding: 1vw;
  width: 12.5vw;
  margin-left: 3.75vw;
  min-height: 10vh;
  border: 5px solid #ffffff;
  border-radius: 25%;
}
.Lib_folder li {
  display: none;
}
.LS-Type-ind {
  font-weight: bold;
}

.List-title {
  font-weight: bolder;
  color: black;
} /*padding-left:30px;border-left:6px solid crimson;*/

/*Management styles*/
#Req_status_modal {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  width: 100vw;
  height: 100vw;
  position: fixed;
  display: none;
}
#Req_status_modal_body {
  background-color: var(--Form_PopupBG);
  width: 50vw;
  height: 50vh;
  margin: 25vh 0 0 25vw;
  border: 10px solid var(--LightBorder);
  border-radius: 10%;
}
#Req_status_modal_body table {
  color: var(--LightText);
  width: 25vw;
  margin-left: 12.5vw;
  margin-top: 5vh;
  font-weight: bold;
  font-size: 1.25rem;
}
#Req_status_modal_body td {
  text-align: center;
  font-size: 1.1rem;
}
.Management-row {
  width: 100vw;
  justify-content: center;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#Row_list li {
  list-style-type: none;
}
#Row_list li section {
  display: flex;
}
#Row_list li h2 {
  margin-top: 5vh;
}
#Row_list li h2,
#Row_list li img {
  display: inline-block;
}
#Row_list li section {
  display: none;
}
#Management_pannel h2 {
  margin-top: 10vh;
}
.Management-row form {
  min-width: 250px;
  padding: 0 2.5% 0 2.5%;
}
.Management-row form input,
.Management-row form select {
  background-color: var(--BgColour);
  border: none;
  color: var(--LightText);
  padding: 0.5vw 1.5vh;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 1vh 0 1vh 0;
  max-width: 20vw;
}
.Management-row form input[type="submit"] {
  padding: 1vh;
}
@media screen and (max-width: 700px) {
  .Management-row form input,
  .Management-row form select {
    max-width: 50vw;
    padding: 1vh 1vw;
  }
}
@media screen and (min-width: 701px) {
  .Management-row form input,
  .Management-row form select {
    max-width: 30vw;
  }
}
@media screen and (max-width: 900px) {
  .Management-row form input,
  .Management-row form select {
    max-width: 30vw;
  }
}
@media screen and (min-width: 901px) {
  .Management-row form input,
  .Management-row form select {
    max-width: 20vw;
  }
}
@media screen and (max-width: 500px) {
  .Management-row form label {
    display: none;
  }
  .Management-row form label.alwaysShow {
    display: inline;
  }
  .Management-row form input,
  .Management-row form select {
    max-width: 70vw;
    padding: 1vh 1vw;
  }
  .Management-row form {
    width: 80vw;
    margin: 2.5vh 0 2.5vh 0;
  }
}
@media screen and (min-width: 501px) {
  .Management-row form label {
    display: inline;
  }
  .Management-row form {
    max-width: 22.5vw;
    margin: 1vh 1.25vw 1vh 1.25vw;
  }
}
